#dhv-s2m-map-info{
	font: smaller italic;			
	width: 100%;			
}
#dhv-s2m-map-credits{		
	font: smaller italic;			
	width: 100%;
}
#dhv-s2m-map-container img{
	padding:1px;
	border:1px solid darkgreen;
	background-color: black;
}

.dhv-s2m-report-cutting-container{
	width: 100%;
}

.dhv-s2m-report-cutting-container input{
	display:block; 
	width:100%;
	padding:0;
	border-width:0
}

.dhv-s2m-report-cutting-container select{
	width: 100%;
}

.dhv-s2m-report-cutting-container table{
	width: 100%;
	border-collapse:collapse;
}

.dhv-s2m-report-cutting-container td{
	font-size:1em;
	border:1px solid #98bf21;
}

.dhv-s2m-report-cutting-container table tr th{
{
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}

.dhv-s2m-report-cutting-container tr.alt td{
	color:#000000;
	background-color:#EAF2D3;
}